//$screen-list:320px,360px,375px,412px,414px;
@import '../../../css/dev/base.scss';
@font-face {
  font-family: 'headerfont';
  src: url('../fonts/headerfont/iconfont.eot');
  src: url('../fonts/headerfont/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/headerfont/iconfont.woff') format('woff'),
  url('../fonts/headerfont/iconfont.ttf') format('truetype'),
  url('../fonts/headerfont/iconfont.svg#iconfont') format('svg');
}


    .BookCity-header{
        width: 100%;
        height: 1.5rem;   
        position: fixed;
        left: 0;
        top: 0;
        z-index: 99;
        background: #29a6dc;
        padding-top: 0.5rem;
        .BookCity-list{
            width: 5.71rem;
            height: 0.84rem;
            @include center;
            background: url($img-path+'c1/c1_03.png') no-repeat 0 0;
            background-size: 100%;
            margin-top: 0.5rem;
        }
        .back-circle-r{
            width:0.44rem;
            height:0.44rem;
            border-radius: 50%;
            border: 0.02rem solid #076cbe;
            @include top-bottom;
            background: #fff;
            right: 0.25rem;
            font-family: 'headerfont';
            line-height: 0.38rem;
            text-align: center;
            font-size: 0.16rem;
            margin-top: 0.7rem;
            color: #73c4e7;
        }
        .classify{
            width: 1.65rem;
            height: 100%;
            float: left; 
            text-align: center;
            color: #fff;
            
            h3{
                margin-top: 0.15rem;
                font-size: 0.2rem;
            }
            p{
                font-size: 0.12rem;
                margin-top: -.03rem;
                color: rgba(255,255,255,0.6);
                transform: scale(0.8);
            }      
        }
        .classify:nth-of-type(1){
//          background: url($img-path+'c1/c_03.png') no-repeat center center;
//          background-size: 100%;
            margin-left: 0.1rem;
        }
        .classify:nth-of-type(2){
//          background: url($img-path+'c1/c_03.png') no-repeat center center;
//          background-size: 100%;
            margin-left: 0.35rem;
        }
        .classify:nth-of-type(3){
    //      background: url($img-path+'c1/c_03.png') no-repeat center center;
    //      background-size: 100%;
            margin-left: 0.2rem;
        }
        .BookCity-header-title{
            @include center;
            min-width: 3rem;
            height: 100%;
            text-align: center;
            margin: auto;
            color: #fff;
            background-image: url($img-path+'header/h_03.png');
            background-position: center 0.55rem;
            background-repeat: no-repeat;
            h3{
                font-size: 0.34rem;
                margin-top: 0.03rem;
            }
            p{
                font-size: 0.12rem;
                margin-top: 0.1rem;
                color: rgba(255,255,255,0.6);
                transform: scale(0.8);
            }
        }
    }
#selected{
    position: absolute;
    left: 0;
    top: 0;
//  z-index: 10;
    display: none;
    .banner{
        width:100%;
        height:5.3rem;
        margin-top: 1.5rem;
    //  background: #eee;
        overflow: hidden;
        .imgBox{
            width: 100%;
            height:5rem;
            img{
                width: 100%;
                height:100%;
            }
        }
        ul{
            width: auto;
            height: 0.3rem;
            padding-left:3rem;
            li{
                width: 0.1rem;
                height:0.1rem;
                border-radius: 50%;
                border: 1px solid #29A6DC;
                margin-left: 0.2rem;
                margin-top: 0.15rem;
                float: left;
            }
            .blue{
                background: #29A6DC;
            }
        }
    }
    .new{
        width: 100%;
        height:auto;
        margin-bottom: 9rem;
        .newTitle{
    //      width: 100%;
            height:1rem;
            padding-left: 0.4rem;
            position: relative;
            .shangjia{
                width: 1.95rem;
                height:0.53rem;
                position: absolute;
                left:0.4rem;
                top:0.2rem;
                background: url($img-path+'c1/c1_11.png');
                background-size: 1.95rem 0.53rem;
            }
        }
        .bookList{
            width: 100%;
            height:auto;
            li{
                width: 1.8rem;
                height:auto;
                float: left;
                margin-left: 0.55rem;
                margin-top: 0.3rem;
    //          background: #eee;
                .face{
                    width: 1.8rem;
                    height:2.6rem;
                    position: relative;
                    float: left;
                    i{
                        width: 1.8rem;
                        height:2.6rem;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                    .diyu{
                        background: url($img-path+'c1/c1_15.png');
                        background-size: 1.8rem 2.6rem;
                    }
                    .bali{
                        background: url($img-path+'c1/c1_19.png');
                        background-size: 1.8rem 2.6rem;
                    }
                }
                p{
                    padding-left:0.1rem;
    //              padding-right: 0.05rem;
                    font-size: 12px;
                    color:#666;
                    float: left;
                }
                span{
                    padding-left: 0.1rem;
                    color:#999;
                    float: left;
                    font-size: 12px;
                }    
            }
        }
    }
}

//list

    #list{
        width: 100%;
        height:auto;
        margin-bottom: 0.7rem;
        margin-top: 1.5rem;
        background: #dedede;
        position: absolute;
        left: 0;
        top: 0;
//      z-index: 20;
        display: none;
        ul{
            width: 100%;
            height:100%;
            li a{
                display: block;
                width: 100%;
                height:2.5rem;
                margin-bottom:0.3rem;
                background-image: url($img-path+'c2/c2_03.png');
                background-repeat:no-repeat ;
                background-size: cover;
                position: relative;
            }
        }
    }


//class
#class{
    position: absolute;
    left: 0;
    top: 0;
//  z-index: 30;
    display: none;
    #intel1{
        margin-top: 1.5rem;
    }
    #intel2{
           margin-bottom: 0.7rem;
       }
    .intel{
       width: 100%;
       height:auto;
//     margin-bottom: 0.7rem;
//     margin-top: 1.5rem;
       .intel-t{
           width: 100%;
           height:0.8rem;
           background: #ACE1F8;
           box-shadow: 0 0 15px #666;
           position: relative;
           i{
               width: 0.4rem;
               height: 0.4rem;
               position: absolute;
               left:0.4rem;
               top:0.2rem;
               background: url($img-path+'c3/c3_03.png');
               background-size: 0.4rem 0.4rem;
           }
           p{
               color:#666;
               font-size: 13px;
               position: absolute;
               left:0.9rem;
               top: 0.2rem;
           }
       }
       .zhuan{
           width: 100%;
           height:auto;
           background: #f2f2f2;
           position: relative;
           .zhuan-t{
               width: 100%;
               height:1rem;
               padding:0 7%;
               color: #51B3E0;
               line-height: 1rem;
               font-size: 18px;
               border-bottom: 1px #999 dashed;
               
           }
           .s1{
                width: 100%;
                height:0.3rem;
                position: absolute;
                left: 0;
                top:2.7rem;
            }
            .s2{
                width: 100%;
                height:0.3rem;
                position: absolute;
                left: 0;
                top:4.4rem;
            }
           .girl{
                   width:100% ;
                   height:4rem;
                   padding-left: 0.5rem;
                   li{
                       float: left;
                       width: 2.1rem;
                       height:1.1rem;
    //                 background: #151C2B;
                       
                       margin-right: 0.15rem;
                       margin-top: 0.6rem;
                       color:#F6FBFE;
                       line-height: 1.1rem;
                       text-align: center;
                       font-size: 18px;
                   }
                   li:nth-last-of-type(2n){
                       background-image: url($img-path+'c3/c3_07.png');
                       background-repeat: no-repeat;
                       background-size:100% 100%;
                   }
                   
                   li:nth-last-of-type(2n+1){
                       background-image: url($img-path+'c3/c3_09.png');
                       background-repeat: no-repeat;
                       background-size:100% 100%;
                   }
                   
               }
               
               .boy{
                       width:100% ;
                       height:6rem;
                       padding-left: 0.5rem;
                       li{
                           float: left;
                           width: 2.1rem;
                           height:1.1rem;
        //                 background: #151C2B;
                           background-image: url(../imgs/imgle/bg1.png);
                           background-repeat: no-repeat;
                           background-size:100% 100%;
                           margin-right: 0.15rem;
                           margin-top: 0.6rem;
                           color:#F6FBFE;
                           line-height: 1.1rem;
                           text-align: center;
                           font-size: 18px;
                       }
                       li:nth-last-of-type(2n){
                           background-image: url($img-path+'c3/c3_07.png');
                           background-repeat: no-repeat;
                           background-size:100% 100%;
                       }
                       
                       li:nth-last-of-type(2n+1){
                           background-image: url($img-path+'c3/c3_09.png');
                           background-repeat: no-repeat;
                           background-size:100% 100%;
                       }
                       
                   }
                   
       }  
    }
}

.BookCity-footer{
         width: 100%;
         height: 1rem;
         position: fixed;
         left: 0;
         bottom: 0;
         z-index: 99;
         background: #151c2b;
         .bookChange{
             width: 33.333%;
             height:100% ;
             float: left;
             background-repeat:no-repeat ;
             background-position: center center;
             background-size: 100%;
             color: #646567;
             p{
                 font-size: 0.44rem;
                 text-align: center;
                 font-family: "headerfont";
                 margin-top: 0.05rem;
             }
             span{
                 font-size: 0.24rem;
                 text-align: center;
                 display: block;
                 width: 100%;
             }
         }
         .bookChange:nth-of-type(1){
             background-image: url($img-path+'c3/c1_xz.png') ;
             border-left: 1px solid #717171;
             border-right: 1px solid #717171; 
         }
    }


.back{
    background: url($img-path+'c1/c_03.png') no-repeat center center;
    background-size: 100%;
}



